<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MyAIAsisstent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="My_AI_Asisstent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <MyAIAsisstent.Properties.Settings>
            <setting name="LightTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Notes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Double click to edit</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RequiredPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoteCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Locations" serializeAs="Xml">
                <value>
                    <ArrayOfPoint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Point>
                            <X>100</X>
                            <Y>100</Y>
                        </Point>
                    </ArrayOfPoint>
                </value>
            </setting>
            <setting name="Opacitys" serializeAs="Xml">
                <value>
                    <ArrayOfDouble xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <double>0.9</double>
                    </ArrayOfDouble>
                </value>
            </setting>
        </MyAIAsisstent.Properties.Settings>
        <My_AI_Asisstent.Properties.Settings>
            <setting name="LightTheme" serializeAs="String">
                <value>True</value>
            </setting>
        </My_AI_Asisstent.Properties.Settings>
    </userSettings>
</configuration>
